.title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
.content{
  display: flex;
  border: 1px solid #000;
  width: 70%;
  margin: auto;
}
.ContactForm, .ContactList{
  flex-grow: 1;
  border: 1px solid #ff0000;
}
button{
  cursor: pointer;
  background-color: #000;
  color:#fff;
  padding: 0.2rem 1rem;
  margin: 0.5rem 0;
}
h2{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #252525;
}
.ContactItem{
  display: flex;
  border: 1px solid #ff9b05;
  align-items: center;
}